body {
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background: linear-gradient(black,#001f2f);
    color:white;
}

/* NAVBAR */
.navbar {
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px;
    background: rgba(0,0,0,0.6);
}

/* BUTTON */
.menu-btn {
    padding:8px 12px;
    background:#00cfff;
    border:none;
    border-radius:8px;
}

/* CONTAINER */
.container {
    padding:20px;
}

/* ADD BOX */
.add-box {
    max-width:500px;
    margin:auto;
    display:flex;
    gap:10px;
}

.add-box input {
    flex:1;
    padding:10px;
    border-radius:8px;
    border:1px solid #00cfff;
    background:rgba(255,255,255,0.1);
    color:white;
}

.add-box button {
    padding:10px;
    border:none;
    border-radius:8px;
    background:#00cfff;
}

/* CARD */
.goal-card {
    max-width:500px;
    margin:20px auto;
    padding:15px;

    background: rgba(0,0,0,0.6);
    border-radius:12px;

    box-shadow:0 0 10px rgba(0,255,255,0.3);
}

/* PROGRESS */
.progress-bar {
    height:12px;
    background:#111;
    border-radius:10px;
    margin:10px 0;
}

.fill {
    height:100%;
    background:linear-gradient(#00cfff,#00ffcc);
    border-radius:10px;
}

/* ACTIONS */
.actions {
    display:flex;
    gap:10px;
}

.actions button {
    flex:1;
    padding:8px;
    border:none;
    border-radius:8px;
}

/* COLORS */
.actions button:nth-child(1){background:#00ffcc;}
.actions button:nth-child(2){background:#ffc107;}
.actions button:nth-child(3){background:#ff4d4d;}
