body {
    margin:0;
    font-family:'Segoe UI', sans-serif;
    height:100vh;

    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
                url("../mahadev.png") no-repeat center center;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

/* BOX */
.login-box {
    width:320px;
    padding:35px;
    border-radius:15px;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);

    text-align:center;
    box-shadow:0 0 20px rgba(0,255,255,0.3);
}

/* TITLE */
.login-box h2 {
    margin-bottom:5px;
}

.subtitle {
    font-size:13px;
    color:#aaa;
    margin-bottom:20px;
}

/* LABEL */
.login-box label {
    display:block;
    text-align:left;
    margin-top:10px;
    font-size:14px;
    color:#ccc;
}

/* INPUT */
.login-box input {
    width:100%;
    padding:12px;
    margin:8px 0;

    border-radius:8px;
    border:1px solid #00cfff;

    background:rgba(255,255,255,0.1);
    color:white;
}

/* FORGOT PASSWORD */
.forgot {
    text-align:right;
    margin-top:5px;
}

.forgot span {
    font-size:13px;
    color:#00cfff;
    cursor:pointer;
}

/* BUTTON */
.login-box button {
    width:100%;
    padding:12px;
    margin-top:15px;

    border:none;
    border-radius:8px;

    background: linear-gradient(45deg,#00cfff,#00ffcc);
    color:black;
    font-weight:bold;

    cursor:pointer;
    transition:0.3s;
}

.login-box button:hover {
    transform:scale(1.05);
}

/* LINK */
.link {
    color:#00cfff;
    cursor:pointer;
    display:block;
    margin-top:10px;
}










/* ================= POPUP FIX ================= */

/* OVERLAY */
.popup {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:rgba(0,0,0,0.8);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

/* POPUP BOX */
.popup-box {
    width:320px;
    padding:30px;
    border-radius:15px;

    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);

    text-align:center;
    box-shadow:0 0 20px rgba(0,255,255,0.3);

    position:relative;
}

/* POPUP TITLE */
.popup-box h3 {
    margin-bottom:15px;
}

/* POPUP INPUT */
.popup-box input {
    width:100%;
    padding:12px;
    margin:10px 0;

    border-radius:8px;
    border:1px solid #00cfff;

    background:rgba(255,255,255,0.1);
    color:white;
}

/* POPUP BUTTON */
.popup-box button {
    width:100%;
    padding:12px;

    border:none;
    border-radius:8px;

    background: linear-gradient(45deg,#00cfff,#00ffcc);
    color:black;
    font-weight:bold;

    cursor:pointer;
}

/* CLOSE BUTTON */
.close {
    position:absolute;
    top:10px;
    right:15px;

    font-size:18px;
    cursor:pointer;
    color:white;
}
