let goals = JSON.parse(localStorage.getItem("goals")) || [];

const modal = document.getElementById("goalModal");const addBtn = document.getElementById("addGoalBtn");const cancelBtn = document.getElementById("cancelBtn");const saveBtn = document.getElementById("saveGoalBtn");const goalContainer = document.getElementById("goalContainer");

addBtn.onclick = () => {modal.style.display = "flex";};

cancelBtn.onclick = () => {modal.style.display = "none";};

saveBtn.onclick = () => {

const goal = {
    id: Date.now(),
    name: document.getElementById("goalName").value,
    startDate: document.getElementById("startDate").value,
    endDate: document.getElementById("endDate").value,
    description: document.getElementById("goalDescription").value,
    progress: 0
};

goals.push(goal);

localStorage.setItem("goals", JSON.stringify(goals));

modal.style.display = "none";

renderGoals();

};

function renderGoals(){

goalContainer.innerHTML = "";

goals.forEach(goal=>{

    const card = document.createElement("div");

    card.className = "goal-card";

    card.innerHTML = `
        <h2>${goal.name}</h2>

        <div class="progress">
            <div class="progress-bar"
            style="width:${goal.progress}%"></div>
        </div>

        <p>Progress: ${goal.progress}%</p>

        <p>📅 ${goal.startDate}</p>
        <p>🏁 ${goal.endDate}</p>

        <div class="card-actions">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
        </div>
    `;

    card.addEventListener("click",()=>{

        window.location.href =
        `goal-details.html?id=${goal.id}`;

    });

    card.querySelector(".delete-btn")
    .addEventListener("click",(e)=>{

        e.stopPropagation();

        goals = goals.filter(g=>g.id!==goal.id);

        localStorage.setItem(
            "goals",
            JSON.stringify(goals)
        );

        renderGoals();
    });

    goalContainer.appendChild(card);

});

document.getElementById("totalGoals").innerText =
goals.length;

document.getElementById("activeGoals").innerText =
goals.length;

document.getElementById("completedGoals").innerText =
goals.filter(g=>g.progress===100).length;

}

renderGoals();