body {
    margin:0;
    font-family:'Segoe UI', sans-serif;
    height:100vh;

    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
                url("../mahadev.png") no-repeat center center;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

/* BOX */
.signup-box {
    width:320px;
    padding:35px;
    border-radius:15px;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);

    text-align:center;
    box-shadow:0 0 20px rgba(0,255,255,0.3);
}

/* TITLE */
.signup-box h2 {
    margin-bottom:5px;
}

.subtitle {
    font-size:13px;
    color:#aaa;
    margin-bottom:20px;
}

/* LABEL */
.signup-box label {
    display:block;
    text-align:left;
    margin-top:10px;
    font-size:14px;
    color:#ccc;
}

/* INPUT */
.signup-box input {
    width:100%;
    padding:12px;
    margin:8px 0;

    border-radius:8px;
    border:1px solid #00cfff;

    background:rgba(255,255,255,0.1);
    color:white;
}

/* BUTTON */
.signup-box button {
    width:100%;
    padding:12px;
    margin-top:15px;

    border:none;
    border-radius:8px;

    background: linear-gradient(45deg,#00cfff,#00ffcc);
    color:black;
    font-weight:bold;

    cursor:pointer;
}

/* LINK */
.link {
    color:#00cfff;
    cursor:pointer;
    display:block;
    margin-top:10px;
}
small {
    color:red;
    font-size:12px;
    display:block;
    text-align:left;
}

select {
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:8px;
}

.otp-box {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:black;
    padding:20px;
    border-radius:10px;
}
